<script type="text/javascript" src="public/materialize/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="public/materialize/materialize.min.js"></script>
<script type="text/javascript" src="public/main.js"></script>
</body>
</html>