<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">    
    <link rel="stylesheet" href="public/main.css">
    <title>Self Esteem Website</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <div class="container">
                <a href="/" class="brand-logo">SEW</a>
                <ul class="hide-on-med-and-down">
                <%_ if (link === 'POPULAR') { _%>
                    <li id="home" class="nav-popular"><a href="/">POPULAR</a></li>
                <%_ } else { _%>
                    <li id="home"><a href="/">POPULAR</a></li>
                <%_ } _%>
                <%_ if (link === 'SELF') { _%>
                    <li class="nav-self"><a href="/self">SELF</a></li>
                <%_ } else { _%>
                    <li><a href="/self">SELF</a></li>
                <%_ } _%>
                <%_ if (link === 'LOVE') { _%>
                    <li class="nav-love"><a href="/love">LOVE</a></li>
                <%_ } else { _%>
                    <li><a href="/love">LOVE</a></li>
                <%_ } _%>
                <%_ if (link === 'CAREER') { _%>
                    <li class="nav-career"><a href="/career">CAREER</a></li>
                <%_ } else { _%>
                    <li><a href="/career">CAREER</a></li>
                <%_ } _%>
                <%_ if (link === 'FAMILY') { _%>
                    <li class="nav-family"><a href="/family">FAMILY</a></li>
                <%_ } else { _%>
                    <li><a href="/family">FAMILY</a></li>
                <%_ } _%>
                </ul>
            </div>
            <ul class="side-nav" id="mobile-nav">
            <%_ if (link === 'POPULAR') { _%>
                <li class="nav-popular"><a href="/">POPULAR</a></li>
            <%_ } else { _%>
                <li><a href="/">POPULAR</a></li>
            <%_ } %>
            <%_if (link === 'SELF') { _%>
                <li class="nav-self"><a href="/self">SELF</a></li>
            <%_ } else { _%>
                <li><a href="/self">SELF</a></li>
            <%_ } _%>                
            <%_ if (link === 'LOVE') { _%>
                <li class="nav-love"><a href="/love">LOVE</a></li>
            <%_ } else { _%>
                <li><a href="/love">LOVE</a></li>
            <%_ } _%>
            <%_ if (link === 'CAREER') { _%>
                <li class="nav-career"><a href="/career">CAREER</a></li>
            <%_ } else { _%>
                <li><a href="/career">CAREER</a></li>
            <%_ } _%>
            <%_ if (link === 'FAMILY') { _%>
                <li class="nav-family"><a href="/family">FAMILY</a></li>
            <%_ } else { _%>
                <li><a href="/family">FAMILY</a></li>
            <%_ } _%>
            </ul>
        </div>
    </nav>