<%- include('./partials/header', {link: data.name}) -%>
<main class="container">
  <div class="row">
    <div class="col m9 s12">
        <% data.articles.map(a => { %>
            <%- include('./partials/article-card', {article: a}); -%>
        <% }); %>      
    </div>
    <div class="col m3 s12">
      <div class="card">
        <div class="card-content">
          <p>Here will be some advertising</p>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione accusantium, dolor excepturi nesciunt corporis error et recusandae tenetur minus, officia ipsa eveniet quibusdam enim laboriosam dolores, expedita ducimus. Quaerat, nihil.</div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include ./partials/footer -%>