<%- include ./partials/header -%>
<div class="container">
    <div class="row">
        <div class="col l9 s12">

          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://i1.wp.com/thefairgo.com/wp-content/uploads/2017/06/happiness-feature.png?fit=1068%2C600&ssl=1">
            </div>
            <div class="card-content">
              <h3>This is the name of the article</h3>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita illo reiciendis quo unde perferendis soluta eum totam eligendi cumque, officia consequatur eaque, modi repellat magnam inventore accusamus nemo, neque repellendus quia quas? Rerum possimus aperiam maxime consectetur consequuntur sed dolore asperiores nesciunt cupiditate, sint incidunt sapiente ipsum velit molestiae libero.</p>
            </div>
            <div class="card-content grey lighten-4">
              <div id="test4">Test 1</div>
            </div>
          </div>

          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://www.newagepregnancy.com/wp-content/uploads/2015/07/importance-of-family.jpg">
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita illo reiciendis quo unde perferendis soluta eum totam eligendi cumque, officia consequatur eaque, modi repellat magnam inventore accusamus nemo, neque repellendus quia quas? Rerum possimus aperiam maxime consectetur consequuntur sed dolore asperiores nesciunt cupiditate, sint incidunt sapiente ipsum velit molestiae libero.</p>
              </div>
              <div class="card-content grey lighten-4">
                <div id="test4">Test 1</div>
              </div>
            </div>



            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="https://media.licdn.com/media/AAEAAQAAAAAAAAhIAAAAJGUwMGE3OTkwLTBkNzctNDAzZi1hYmM5LTY5ZWU3YjNmM2RjMw.jpg">
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita illo reiciendis quo unde perferendis soluta eum totam eligendi cumque, officia consequatur eaque, modi repellat magnam inventore accusamus nemo, neque repellendus quia quas? Rerum possimus aperiam maxime consectetur consequuntur sed dolore asperiores nesciunt cupiditate, sint incidunt sapiente ipsum velit molestiae libero.</p>
                </div>
                <div class="card-content grey lighten-4">
                  <div id="test4">Test 1</div>
                </div>
              </div>            



        </div>


            

        <!-- Place for advertising -->
        <div class="col l3 s12">
          <div class="card">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-content grey lighten-4">
              <div id="test4">Here will be some advertising</div>
            </div>
          </div>
        </div>


    </div>





<%- include ./partials/footer -%>