<%- include ./partials/header -%>
<div class="container">
  <div class="row">
    <div class="col m9 s12">


          <div class="article">
              <div class="article-image-wrapper">
                  <div class="article-image"></div>
              </div>
              <div class="article-content">
                  <div class="article-text">
                      <h2>Some header</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repudiandae culpa officia doloremque optio deleniti minus labore ducimus fugit praesentium ut debitis atque incidunt consequatur, repellat vel voluptatum possimus totam. Vero obcaecati ad unde non veniam quod necessitatibus dolore, tempore aspernatur beatae repellendus sapiente placeat perspiciatis, quo sed in? Itaque?</p>                    
                  </div>
                  <div class="article-footer">
                      <div class="article-field" style="background: rgba(0,255,0,0.2)"><strong>POPULAR</strong></div>
                  </div>
              </div>
          </div>


          <div class="article">
              <div class="article-image-wrapper">
                  <div class="article-image" style="background: url('https://www.newagepregnancy.com/wp-content/uploads/2015/07/importance-of-family.jpg') center no-repeat"></div>
              </div>
              <div class="article-content">
                  <div class="article-text">
                      <!-- <h2>Repeat considering</h2> -->
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repudiandae culpa officia doloremque optio deleniti minus labore ducimus fugit praesentium ut debitis atque incidunt consequatur, repellat vel voluptatum possimus totam. Vero obcaecati ad unde non veniam quod necessitatibus dolore, tempore aspernatur beatae repellendus sapiente placeat perspiciatis, quo sed in? Itaque?</p>                    
                  </div>
                  <div class="article-footer">
                      <div class="article-field" style="background: rgba(0,255,0,0.2)"><strong>POPULAR</strong></div>
                  </div>
              </div>
          </div>
          <div class="article">
              <div class="article-image-wrapper">
                  <div class="article-image" style="background: url('https://www.newagepregnancy.com/wp-content/uploads/2015/07/importance-of-family.jpg') center no-repeat"></div>
              </div>
              <div class="article-content">
                  <div class="article-text">
                      <!-- <h2>Repeat considering</h2> -->
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repudiandae culpa officia doloremque optio deleniti minus labore ducimus fugit praesentium ut debitis atque incidunt consequatur, repellat vel voluptatum possimus totam. Vero obcaecati ad unde non veniam quod necessitatibus dolore, tempore aspernatur beatae repellendus sapiente placeat perspiciatis, quo sed in? Itaque?</p>                    
                  </div>
                  <div class="article-footer">
                      <div class="article-field" style="background: rgba(0,255,0,0.2)"><strong>POPULAR</strong></div>
                  </div>
              </div>
          </div>
          <div class="article">
              <div class="article-image-wrapper">
                  <div class="article-image" style="background: url('https://www.newagepregnancy.com/wp-content/uploads/2015/07/importance-of-family.jpg') center no-repeat"></div>
              </div>
              <div class="article-content">
                  <div class="article-text">
                      <!-- <h2>Repeat considering</h2> -->
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repudiandae culpa officia doloremque optio deleniti minus labore ducimus fugit praesentium ut debitis atque incidunt consequatur, repellat vel voluptatum possimus totam. Vero obcaecati ad unde non veniam quod necessitatibus dolore, tempore aspernatur beatae repellendus sapiente placeat perspiciatis, quo sed in? Itaque?</p>                    
                  </div>
                  <div class="article-footer">
                      <div class="article-field" style="background: rgba(0,255,0,0.2)"><strong>POPULAR</strong></div>
                  </div>
              </div>
          </div>
          <div class="article">
              <div class="article-image-wrapper">
                  <div class="article-image" style="background: url('https://www.newagepregnancy.com/wp-content/uploads/2015/07/importance-of-family.jpg') center no-repeat"></div>
              </div>
              <div class="article-content">
                  <div class="article-text">
                      <!-- <h2>Repeat considering</h2> -->
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repudiandae culpa officia doloremque optio deleniti minus labore ducimus fugit praesentium ut debitis atque incidunt consequatur, repellat vel voluptatum possimus totam. Vero obcaecati ad unde non veniam quod necessitatibus dolore, tempore aspernatur beatae repellendus sapiente placeat perspiciatis, quo sed in? Itaque?</p>                    
                  </div>
                  <div class="article-footer">
                      <div class="article-field" style="background: rgba(0,255,0,0.2)"><strong>POPULAR</strong></div>
                  </div>
              </div>
          </div>
          <div class="article">
              <div class="article-image-wrapper">
                  <div class="article-image" style="background: url('https://www.newagepregnancy.com/wp-content/uploads/2015/07/importance-of-family.jpg') center no-repeat"></div>
              </div>
              <div class="article-content">
                  <div class="article-text">
                      <!-- <h2>Repeat considering</h2> -->
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repudiandae culpa officia doloremque optio deleniti minus labore ducimus fugit praesentium ut debitis atque incidunt consequatur, repellat vel voluptatum possimus totam. Vero obcaecati ad unde non veniam quod necessitatibus dolore, tempore aspernatur beatae repellendus sapiente placeat perspiciatis, quo sed in? Itaque?</p>                    
                  </div>
                  <div class="article-footer">
                      <div class="article-field" style="background: rgba(0,255,0,0.2)"><strong>POPULAR</strong></div>
                  </div>
              </div>
          </div>
          <div class="article">
              <div class="article-image-wrapper">
                  <div class="article-image" style="background: url('https://www.newagepregnancy.com/wp-content/uploads/2015/07/importance-of-family.jpg') center no-repeat"></div>
              </div>
              <div class="article-content">
                  <div class="article-text">
                      <!-- <h2>Repeat considering</h2> -->
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repudiandae culpa officia doloremque optio deleniti minus labore ducimus fugit praesentium ut debitis atque incidunt consequatur, repellat vel voluptatum possimus totam. Vero obcaecati ad unde non veniam quod necessitatibus dolore, tempore aspernatur beatae repellendus sapiente placeat perspiciatis, quo sed in? Itaque?</p>                    
                  </div>
                  <div class="article-footer">
                      <div class="article-field" style="background: rgba(0,255,0,0.2)"><strong>POPULAR</strong></div>
                  </div>
              </div>
          </div>

          <div class="article">
              <div class="article-image-wrapper">
                  <div class="article-image" style="background: url('https://media.licdn.com/media/AAEAAQAAAAAAAAhIAAAAJGUwMGE3OTkwLTBkNzctNDAzZi1hYmM5LTY5ZWU3YjNmM2RjMw.jpg') center no-repeat"></div>
              </div>
              <div class="article-content">
                  <div class="article-text">
                      <!-- <h2>Repeat considering</h2> -->
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repudiandae culpa officia doloremque optio deleniti minus labore ducimus fugit praesentium ut debitis atque incidunt consequatur, repellat vel voluptatum possimus totam. Vero obcaecati ad unde non veniam quod necessitatibus dolore, tempore aspernatur beatae repellendus sapiente placeat perspiciatis, quo sed in? Itaque?</p>                    
                  </div>
                  <div class="article-footer">
                      <div class="article-field" style="background: rgba(0,255,0,0.2)"><strong>POPULAR</strong></div>
                  </div>
              </div>
          </div>



    </div>
            

    <!-- Place for advertising -->
    <div class="col m3 s12">
      <div class="card">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test4">Here will be some advertising</div>
        </div>
      </div>
    </div>


  </div>
</div>





<%- include ./partials/footer -%>