<%- include('./partials/header', {link: data.name}) -%>
<main class="container">
  <div class="row">
    <div class="col s12" style="text-align:center; margin-top: 30px;">
        <h5>Sorry, page <span style="color:#c62828"><%=data%></span> doesn't exist</h5>
        <a class="btn waves-effect waves-light" href="/">Return to home page</a>
    </div>
  </div>
</main>
<%- include ./partials/footer -%>