/* GENERAL */
body{
    margin: 0;
    padding: 0;
    background: #efebe9;
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
h1{
    font-weight: bold;
    font-size: 2rem;
}
h2{
    font-weight: bold;
    font-size: 1.4rem;
}
p{
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 1.2rem;
}
main{
    flex: 1 0 auto;
}
.main-row{
    margin-bottom: 0 !important;
}

/* NAVBAR */
.nav-wrapper{
    background: #4e342e;
}
.brand-logo a:hover{
    color: #c3c3c3;
}
.hide-on-med-and-down{
    text-align: center !important;
}
.hide-on-med-and-down li{
    padding: 0 10px;
    border-left: .1px solid #696969;
    display: inline;
    float: none;
}
.hide-on-med-and-down li span{
    padding: 0 15px;
}
.hide-on-med-and-down li a{
    color: #c3c3c3;
    display: inline-block;
}
.hide-on-med-and-down li a:hover{
    color: white;
}
#mobile-nav{
    margin-left: -10px; /* To eliminate mobile navbar link available on desktop version on the left top website corner */
    background: black;
    color: white;
}
#mobile-nav li span{
    padding: 0 32px;
}
#mobile-nav li:first-child{
    margin-top: 30px;
}
#mobile-nav li a{
    color: #c3c3c3;
}
#mobile-nav li a:hover{
    color: white;
}
#home{
    margin-left: 20px;
    border-left: none;
}
.nav-popular{
    font-weight: bold;
    color: #4db6ac !important;
    cursor: default;
}
.nav-self{
    font-weight: bold;
    color: rgba(0,255,0, .8) !important;
    cursor: default;
}
.nav-love{
    font-weight: bold;
    color: rgba(255,0,0, 0.9) !important;
    cursor: default;
}
.nav-career{
    font-weight: bold;
    color: rgba(33,150,243, 1) !important;
    cursor: default;
}
.nav-family{
    font-weight: bold;
    color:  rgba(255,152,0, 0.8) !important;
    cursor: default;
}

/* FOOTER */
.page-footer{
    background: #4e342e;
    padding: 15px 0;
}
.page-footer .container{
    display: flex;
    justify-content: space-between;
}

/* ARTICLE LIST*/
.article-list{
    margin: 20px 0;
    display: flex;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4);
}
.article-list-image-wrapper{
    flex: 1;
    position: relative;
    overflow: hidden;
}
.article-list-image{    
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.article-list-image::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #202121;
    opacity: 0;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.article-list-image:hover{
    transform: scale(1.03);
}
.article-list-image:hover::after{
    opacity: 0.5;
}
.article-list-text p{
    text-align: justify;
    text-justify: inter-word;
}
.article-list-text a{
    color: black;
    text-decoration: none;
}
.article-list-text a:hover{
    color: #696969;
}
.article-list-text h1{
    margin: 15px 0;
}
.article-list-content{
    /* background-color: #d7ccc8; */
    flex: 3;
    padding: 0 20px;
}
.like-number{
    margin-left: 5px;
}
.article-list-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.article-list-footer-item{
    position: relative;
    display: flex;
    align-items: center;
}
.article-list-footer .tag, .article-section .tag{
    padding: 3px 10px;
    text-align: center;
    border-radius: 2px;
    color: black;
}
.article-list-footer-date{
    color: #7e7e7e;
    margin-left: 5px;
}
.self, .self-nolink{
    background: rgba(0,255,0, 0.2);
    cursor: default;
}
.self:hover{
    background: rgba(0,255,0, 0.4);
    cursor: pointer;
}
.love, .love-nolink{
    background: rgba(255,0,0, 0.2);
    cursor: default;
}
.love:hover{
    background: rgba(255,0,0, 0.4);
    cursor: pointer;
}
.career, .career-nolink{
    background: rgba(33,150,243, 0.2);
    cursor: default;
}
.career:hover{
    background: rgba(33,150,243, 0.4);
    cursor: pointer;
}
.family, .family-nolink{
    background: rgba(255,152,0, 0.2);
    cursor: default;
}
.family:hover{
    background: rgba(255,152,0, 0.4);
    cursor: pointer;
}

/* ARTICLE */
.article-card{
    margin: 20px 0;
    padding: 0;
    box-shadow: none;
    background: #efebe9;
}
.article-card  h1{
    margin: 15px 0;
    font-size: 2.3rem;
    line-height: 130%;
}
.article-card  h2{
    margin: 1.5em 0 .7em 0;   
}
.article-card p{
    margin: 0 0 1em 0;
    line-height: 1.7;
}
.article-section{
    display: inline-block;
    
}
.article-date{
    color: #7e7e7e;
    font-size: 15px;
}
.article-divider{
    margin: 10px 0 20px 0;
    border-bottom: 1px solid #d3d3d3;
}
.article-card .svg-like svg, .article-list-footer-item svg{
    width: 25px;
    height: 25px;
}
.article-card .svg-like{
    position: relative;
    top: 3px;
    cursor: pointer;
}

.article-card .svg-like-animation{
    animation: likePulsation 2s ease-in-out infinite;
}

@keyframes likePulsation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

/* AD */
.card-ad{
    margin: 20px 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
    .article-card  h1{
        line-height: 100%;
    }
}
@media screen and (max-width: 992px) {
    .article-list{
        display: flex;
        flex-direction: column;
    }
    .article-list-image-wrapper{
        height: 150px;
    }
    #mobile-nav{
        margin-left: 0; 
    }
}