/* GENERAL */
body{
    margin: 0;
    padding: 0;
    background: #c3c3c3;
    color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}

/* NAVBAR */
.nav-wrapper{
    background: black;
}
.hide-on-med-and-down{
    text-align: center !important;
}
.hide-on-med-and-down li{
    padding: 0 10px;
    border-left: .1px solid #696969;
    display: inline;
    float: none;
}
.hide-on-med-and-down li a{
    color: #c3c3c3;
    display: inline-block;
}
.hide-on-med-and-down li a:hover{
    color: white;
}
#mobile-nav{
    margin-left: -10px; /* To eliminate mobile navbar link available on desktop version on the left top website corner */
    background: black;
    color: white;
}
#mobile-nav li a{
    color: #c3c3c3;
}
#mobile-nav li a:hover{
    color: white;
}
#home{
    margin-left: 20px;
    border-left: none;
}
.nav-popular a{
    font-weight: bold;
    color: #4db6ac !important;
}
.nav-self a{
    font-weight: bold;
    color: rgba(0,255,0, .8) !important;
}
.nav-love a{
    font-weight: bold;
    color: rgba(255,0,0, 0.9) !important;
}
.nav-career a{
    font-weight: bold;
    color: rgba(33,150,243, 1) !important;
}
.nav-family a{
    font-weight: bold;
    color:  rgba(255,152,0, 0.8) !important;
}

/* FOOTER */
.page-footer{
    background: black;
    padding: 15px 0;
}
.page-footer .container{
    display: flex;
    justify-content: space-between;
}

/* ARTICLE LIST*/
.article-list{
    margin: 10px 0;
    display: flex;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4);
}
.article-list-image-wrapper{
    flex: 1;
    position: relative;
    overflow: hidden;
}
.article-list-image{    
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.article-list-image::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #202121;
    opacity: 0;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.article-list-image:hover{
    transform: scale(1.03);
}
.article-list-image:hover::after{
    opacity: 0.5;
}
.article-list-text h1{
    font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
    margin: 15px 0;
    font-size: 2.1rem;
}
.article-list-content{
    background: white;
    flex: 3;
    padding: 0 20px;
}
.like-number{
    margin-left: 5px;
}
.article-list-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.article-list-footer-item{
    display: flex;
    align-items: center;
}
.article-list-footer .tag{
    padding: 3px 10px;
    text-align: center;
    border-radius: 2px;
    color: black;
}
.article-list-footer-item img{
    height: 20px;
    width: 20px;
}
.article-list-footer-date{
    color: #7e7e7e;
    margin-left: 5px;
}
.self{
    background: rgba(0,255,0, 0.2);
}
.self:hover{
    background: rgba(0,255,0, 0.4);
}
.love{
    background: rgba(255,0,0, 0.2);
}
.love:hover{
    background: rgba(255,0,0, 0.4);
}
.career{
    background: rgba(33,150,243, 0.2);
}
.career:hover{
    background: rgba(33,150,243, 0.4);
}
.family{
    background: rgba(255,152,0, 0.2);
}
.family:hover{
    background: rgba(255,152,0, 0.4);
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
    .article-list{
        display: flex;
        flex-direction: column;
    }
    .article-list-image-wrapper{
        height: 150px;
    }    
    .footer-copyright .container{
        /* display: block; */
    }
}